{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "__DEBUG__": true,
    "__DEV__": true,
    "__SERVER__": true,
    "jsroutes": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "extends": "./eslint-config-main.js",
  "plugins": ["import", "react"],
  "rules": {
    "no-undef": [0]  // allows us to define static properties to classes (i.e, static propTypes = {})
  },
  "settings": {
    "import/extensions": [".js", ".jsx"],
    "import/resolver": {
      "webpack": {
        "extensions": [".js", ".jsx", ".json"],
        "config": "webpack.config.js"
      }
    },
    "import/core-modules": [],
    "import/ignore": [
      "node_modules",
      "\\.(coffee|scss|css|less|hbs|svg|json)$"
    ]
  }
}
